{% extends 'base_login.html.twig' %}

{% block title %}Login{% endblock %}


{% block body %}

    <div class="container">

        <div class="row g-0 row-log bg-light">
            <div class="col-lg-5 py-5">
                <img class="login-img" src="{{ asset('assets/img/logo.png') }}" alt="">
            </div>

            <div class="col-lg-7 p-5">
                <h2 class="text-center display-6">Ravi de vous revoir !</h2>
                <hr>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 alert alert-warning text-center">
                            Vous êtes connecté(e) comme <strong>{{ app.user.userIdentifier }}</strong>,
                            <div>
                                <a href="{{ path('app_logout') }}" class="link-success text-capitalize ms-4">
                                    Me déconnecter
                                </a>

                                <a href="{{ path('app_homepage') }}" class="link-success text-capitalize ms-4">
                                    Accéder a mon compte
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}

                    {# <label for="inputEmail">Email</label> #}
                    {# <input type="text" id="username" name="_username" value="{{ last_username }}"/> #}
                    <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail"
                        class="form-control input my-4" autocomplete="email" required autofocus>

                    {#<label for="inputPassword">Password</label>#}
                    {# <input type="password" id="password" name="_password"/> #}
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword"
                        class="form-control input my-4" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">
                    {# <input type="hidden" name="_target_path" 
                    value="{{ path('account') }}"> #}
                    <div class="d-flex justify-content-end">
                        <p>Vous n'êtes pas encore inscrit?, donc ... </p>
                        <a href="{{ path('app_register') }}" class="link-success ms-2">Inscrivez-vous!</a>
                    </div>


                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me
                    functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-success btn-login py-3 col-3 offset-9" type="submit">
                        Me connecter
                    </button>
                </form>

            </div>
        </div>
    </div>












{# <div class="container">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>

    </div>
</div> #} 
{% endblock %}
