{% extends 'base.html.twig' %}

{% block title %}Coffre des fichiers{% endblock %}

{% block body %}

{% if app.user %}
    <div class="row justify-content-around">
        <div class="col-lg-5 bg-secondary-subtle border border-success p-2 mb-2 border-opacity-50 rounded">
            <h1 class="display-6">Ajouter un nouveau fichier</h1>
            <hr>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn btn-success btn-login p-1 col-2 mt-3 offset-10" type="submit">Ajouter</button>
            {{ form_end(form) }}
        </div>
        
        <div class="col-lg-6 ml-auto bg-secondary-subtle border border-success p-5 mb-2 border-opacity-50 rounded">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Nom du fichier</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% if fichier|length == 0 %}
                            <tr>
                                <td><p>Aucun fichier n'a été téléchargé</p></td>      
                            </tr>
                        {% endif %}
                        {% for file in fichier %}
                        <tr>
                            <td>{{ file.name }}</td>

                            <td class="text-center">
                            <a href="" class="text-info" download="{{file.name}}" title="Télécharger"><i class="fa-solid fa-download fa-lg"></i></a>  
                            </td>
                            <td class="text-center">
                            <a href="{{ path('app_fichier_delete', {id: file.id}) }}" title="Supprimer" 
                            onclick="return confirm('Vous êtes sûr de supprimer l\'image : {{ file.name }} ?')"
                            class="text-danger" ><i class="fa-regular fa-trash-can fa-lg"></i></a>  
                            </td>
                            
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('assets/img/404.svg')}}" alt="Image page not found" class="w-100 ms-5">
        
        </div>
        <div class="col-7 ms-5 col-pag-non-connecte rounded">
            <h1 class="display-6 text-center">Vous n'êtes pas connecté(e)!</h1>
            <hr>
            <h3 class="text-center mt-5">Veuillez vous connecter à votre compte pour profiter de l'application    
            <a href="{{ path('app_login') }}" class="text-success"><i class="fa-solid fa-right-to-bracket fa-xl"></i></a></h3>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
