{% extends 'base.html.twig' %}

{% block title %}Coffre des fichiers{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-transparent">

<div class="container-fluid">
    <img class="rounded-circle img-logo" src="{{ asset('assets/img/logo.png') }}" alt="Image Logo">

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item me-5">
            <h4>Bienvenu(e) {{ app.user.userIdentifier }}</h4>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link text-success-emphasis" aria-current="page" title="Déconnecxion"
                href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
        </li>
    </ul>
    </div>

</div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-5 me-2 bg-secondary-subtle border border-success p-2 mb-2 border-opacity-50 rounded">
            <h1 class="display-6">Ajouter un nouveau fichier</h1>
            <hr>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn btn-success btn-login p-1 col-2 mt-3 offset-10" type="submit">Publier</button>
            {{ form_end(form) }}
        </div>
        <div class="col-6 bg-secondary-subtle border border-success p-5 mb-2 border-opacity-50 rounded">
            
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Nom du fichier</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for file in fichier %}
                        <tr>
                            <td><a href="">{{ file.name }}</a></td>
                            <td class="text-danger text-center"><i class="fa-regular fa-trash-can fa-lg"></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </div>
</div>
{% endblock %}
